@import "../../display/style/variables.scss";

.link {
  font-size: $space_unit * 4;
}

.link1-darkmode {
  color: $colour09;
}
.link1-lightmode {
  color: $colour04;
}

.route {
  max-width: $route-width;
  min-height: 100vh;
  min-width: $route-width;
  left: $navbar-width;
  overflow: scroll;
  padding: $y-padding-desktop $x-padding-desktop;
  position: absolute;
  width: calc(100vw - $navbar-width);
  top: 0;
  .route-title {
    font-size: $space_unit * 5;
    position: absolute;
    top: $y-padding-desktop;
  }
  .route-content {
    padding-top: $space-unit * 5;
  }
}
.route1-darkmode {
  .route-title {
    color: $colour03;
  }
}
.route1-lightmode {
  .route-title {
    color: $colour08;
  }
}
